.lead_margins {
  margin: 0 11.6vw;
}

@media screen and (max-width: 1024px)  {
  .lead_margins {
    margin: 0 4.7vw;
  }
}

@media screen and (max-width: 768px)  {
  .lead_margins {
    margin: 0;
  }
}