.photo-grid_margins {
  margin: 0 3.75vw;
}

@media screen and (max-width: 1024px)  {
  .photo-grid_margins {
    margin: 0 4.7vw;
  }
}

@media screen and (max-width: 768px)  {
  .photo-grid_margins {
    margin: 0 3.1vw;
  }
}

@media screen and (max-width: 320px)  {
  .photo-grid_margins {
    margin: 0 5vw;
  }
} 