.header__custom-radio {
  margin-right: 18px;
}

.header__custom-radio:last-child {
  margin-right: 0;
}

.header__custom-radio>input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.header__custom-radio>input:checked+a {
  text-decoration: underline;
}