.place__title {
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1.06;
  margin: 0 0 48px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 2.63em;
    line-height: 1.1;
  }
}

@media screen and (max-width: 500px) {
  .place__title {
    font-size: 2em;
    margin: 0 5vw 32px;
  }
}
