.content__photo-grid {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content__photo-grid {
    margin: 0 4.7vw;
  }
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    margin: 0 3.1vw;
  }
}

@media screen and (max-width: 320px) {
  .content__photo-grid {
    margin: 0 5vw;
  }
}
