.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 740px;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
