.place__paragraph {
  font-weight: 400;
  font-size: 1.13em;
  line-height: 1.63;
  margin: 0 0 26px;
  max-width: 690px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px)  {
  .place__paragraph {
    font-size: 1em;
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 500px)  {
  .place__paragraph {
    margin: 0 5vw 25px;
  }
}

@media screen and (max-width: 500px)  {
  .place__paragraph:last-child {
    margin: 0 5vw 0;
  }
}
