.footer_margins {
  margin: 92px auto 0;
  padding: 0 0 24px;
}

@media screen and (max-width: 1280px)  {
  .footer_margins {
    margin: 92px 3.75vw 0;
  }
}

@media screen and (max-width: 1024px)  {
  .footer_margins {
    margin: 92px 4.7vw 0;
  }
}

@media screen and (max-width: 768px)  {
  .footer_margins {
    margin: 88px 3.1vw 0;
  }
}

@media screen and (max-width: 768px)  {
  .footer_margins {
    margin: 64px 5vw 0;
  }
}